:root {
	--bg-global: #ececec;
	--bg-color-primary: #fff;
	--bg-color-secondary: #668bda;
	--text-color-primary: #363636;
	--text-color-secondary: #a2a6a9;
	--error: #b46060;
	--rounded-sm: 0.5rem;
	--rounded-md: 1rem;
	--rounded-block: 1.5rem;
	--rounded-full: 50%;

	--shadow-common: 0 1px 3px rgb(0 0 0 / 12%);
}

body {
	line-height: 1;
}

html {
	font-family: Archivo, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: var(--bg-global);
}

body,
html {
	scroll-behavior: smooth;
	color: var(--text-color-primary);
}

:is(h1, h2, h3, h4, h5, h6) {
	color: var(--text-color-primary);
}
