* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

button,
a,
ul {
	all: unset;
}

ul {
	list-style-type: none;
}

a {
	cursor: pointer;
}

button {
	cursor: pointer;
	align-items: inherit;
}

img {
	max-width: 100%;
	display: block;
}

table {
	width: 100%;
	border-collapse: collapse;
}
