html {
	font-size: 62.5%;
}

@media (width <= 75em) {
	html {
		font-size: 56.25%;
	}
}

@media (width <= 56.25em) {
	html {
		font-size: 50%;
	}
}

@media (width >= 112.5em) {
	html {
		font-size: 75%;
	}
}
