.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 2.5rem;
	font-size: 1.6rem;
}

.link {
	border: 1px solid var(--text-color-primary);
	border-radius: var(--rounded-md);
	padding: 1rem 1.5rem;
}
