/* Styles for Fallback */

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 2.5rem;
	font-size: 1.6rem;
}

.title {
	font-size: 3rem;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	color: var(--error);
	font-size: 2rem;
}
