.wrapper {
	padding: 3rem;
	border-radius: var(--rounded-md);
	background-color: var(--bg-color-primary);
}

.main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.form {
	display: flex;
	gap: 3rem;
	font-size: 1.6rem;
}

/* можно добавить классы как пропсы и будет более читабельно */

.form > div {
	flex: 1 1 auto;
}

.form > button {
	align-items: center;
	align-self: center;
	width: min(20%, 10rem);
}
