.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.6rem;
	border-radius: var(--rounded-md);
	background-color: var(--bg-color-primary);
	box-shadow: var(--shadow-common);
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.title {
	font-size: 1.8rem;
	font-weight: 600;
}

.price {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--bg-color-secondary);
}

.description {
	font-size: 1.6rem;
	font-weight: 300;
	color: var(--text-color-secondary);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.footer > button {
	flex: 1 1 50%;
	width: 50%;
}
