.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	font-size: 1.6rem;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	gap: 3rem;
}
